* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.562);
  font-family: "Poppins", sans-serif;
}

body {
  display: block;
  height: 100vh;
  width: 100%;
}

header {
  display: block;
  width: 100%;
  margin: 0;
}

.top-menu-bar {
  background: rgb(0, 0, 0);
  width: 100%;
  height: 40px;
  font-weight: 10px;
  text-align: center;
}

.top-menu-bar .text {
  color: white;
  font-size: 10px;
  line-height: 40px;
}

.menu-bar {
  height: 74px;
  background: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-top: 30px; */
  /* background: red; */
}

.menu-bar .logo img {
  background: transparent;
  width: 70px;
  padding-top: 10px;
  background-color: transparent;
  margin-left: 40px;
  cursor: pointer;
}

.menu-bar .horizontal a {
  color: black;
  font-size: 13px;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
  /* background-color: red; */
}

.menu-bar .horizontal a:hover {
  color: rgba(0, 0, 0, 0.264);
}


.search-info {
  width: 450px;
  height: 100%;
  /* background-color: blue; */
  padding: 0;
  margin-right: 40px;
}

.service {
  /* background: green; */
  padding: 5px 0;
  text-align: right;
  align-items: center;
}

.service a {
  font-size: 11px;
  padding-right: 5px;
  padding-left: 16px;

  text-align: right;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.638);
}
.service a:hover {
  text-decoration: underline;
}

.search-info {
  padding: 5px;
  margin: 0 auto;
  width: 500px;
  height: 50px;
  background-color: lightblue;
  margin-right: 5px;
  float: left;
  position: relative;
}
 
.search-info .search {
  background-color: aquamarine;
  height: 50px;
  margin: 0;
  margin-right: 0;
  position: absolute;
  float: left;
  
}

.logo-menu {
  display: flex;
    align-items:center;

}
.container {
  width: 95%;
  height: 100vh;
  margin: 0 auto;
}




